fastapi
uvicorn[standard]
pandas
numpy
xgboost
shap
scikit-learn
joblib
faker
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
psycopg2-binary
python-multipart
sqlalchemy
email-validator
python-dotenv
cryptography